.mask{
    width:100%;
    height:100vh;
    position: relative;
}
.intro-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top :0;
    left: 0;
    background-color: #000; 
    opacity: 0.8;
}
.hero{
    height: 100%;
    width: 100%;
}
.hero .content{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}
.hero .content h1{
    font-size: 4rem;
    padding: 0.6rem, 0, 0.7rem;
}
.btncont {
    margin-top: 30px;
}
.btn {
    display: inline-block;
    padding: 10px 20px; /* Adjust the values to increase or decrease the button size */
    border-radius: 8px; /* Adjust the value to control the roundness of the button */
    font-size: 16px; /* Adjust the value to control the button's font size */
    text-decoration: none;
    background-color: #007bff; /* Adjust the color as desired */
    color: #fff; /* Adjust the color as desired */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; /* Adjust the color for the hover effect */
}
.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}
.content .btn{
    margin: 1rem 0.2rem;
}
@media screen and (max-width: 640px) {
    .hero .content h1{
        font-size: 3rem;
        margin-bottom: 1em;
    }
    .hero .content p{
        font-size: 1.4rem;
    }
}