.hero-img{
    width:100%;
    background: rgba(0,0,0,0.5);
    height: 60vh;
    position: relative;
}
/*sudo element before*/
.hero-img::before{
    content: "";
    background: "https://www.cnet.com/a/img/resize/8961558546e1b870a4ca0890be7038d357f2eb62/hub/2021/12/13/d319cda7-1ddd-4855-ac55-9dcd9ce0f6eb/unnamed.png?auto=webp&fit=crop&height=675&width=1200";
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-img h1{
    font-size: 2.4rem;
}
.hero-img p{
    font-size: 1.4rem;
    text-align: center;
}
@media screen and (max-width:640px) {
    .hero-img h1{
        font-size: 2rem;
    }
}